@model Coursenix.ViewModels.GroupAttendanceViewModel
@section css{
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Eduvera - Student Attendance</title>
<link rel="stylesheet" href="../css/Student-Attendance.css">
}
<main id="pageMain" data-group-id="@Model.groupId">
    <div class="attendance-container">
        <h2>Students Attendance</h2>

        <div class="group-info">
            <div class="course-details">
                <div class="grade-level">
                    <span class="grade-label">Grade:</span>
                    <span class="grade-value">@Model.GradeLevel</span>
                </div>
                <div class="group">
                    <span class="group-label">Group:</span>
                    <span class="group-value">@Model.GroupName</span>
                </div>
            </div>
            <div class="schedule">
                <div class="day">
                    <span class="calendar-icon">📅</span>
                    @for(int i = 0; i < Model.Days.LongCount(); ++i)
                    {
                        <span>
                            day
                            if(i != Model.Days.LongCount() - 1) 
                            &
                        </span>
                    }
                </div>
                <div class="time">
                    <span class="time-icon">🕔</span>
                    <span>
                        @Model.StartTime.ToString("h:mm tt") - @Model.EndTime.ToString("h:mm tt")
                    </span>
                </div>
            </div>
        </div>
        <!-- Search Bar -->
        <div class="search-container">
            <input type="text" id="studentSearch" class="search-input" placeholder="Search student by name...">
        </div>
        <form method="post">
            <table class="attendance-table">
                <thead>
                    <tr>
                        <th>Student Name</th>
                        <th>Phone Number</th>
                        <th>Parent's Phone</th>
                        <th>Absence %</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var student in Model.Students)
                    {
                        <tr>
                            <td>@student.Name</td>
                            <td>@student.PhoneNumber</td>
                            <td>@student.ParentPhoneNumber</td>
                            <td>

                                @{
                                    var col = "none";
                                    if (student.AbsencePercentage <= 15)
                                    {
                                        col = "low";
                                    }
                                    else if (student.AbsencePercentage <= 30)
                                    {
                                        col = "medium";
                                    }
                                    else if (student.AbsencePercentage <= 45)
                                    {
                                        col = "high";
                                    }
                                    else
                                    {
                                        col = "critical";
                                    }
                                    col = "absence " + col;
                                }
                                <span class="@col">
                                    @student.AbsencePercentage%
                                </span>
                            </td>
                            <td>
                                <button type="button" class="delete-btn" data-student-id="@student.Id">
                                    &#10060;
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <div class="button-group">
                <button type="button" asp-controller="Teacher" asp-action="Index" class="cancel-btn">Cancel</button>
                <button type="submit" class="save-btn">Save</button>
            </div>
        </form>
    </div>
</main>
@section Scripts {
    <script src="/js/Student-Attendance.js"></script>
}